swagger: '2.0'
info:
  version: 2.0.1
  title: RBKmoney Platform API
  description: |
    ## Описание
    RBKmoney API является базовой и единственной точкой взаимодействия с платежной платформой. Все изменения состояний платформы осуществляются с помощью вызовов соответствующих методов API. Любые сторонние приложения, включая наши веб-сайты и другие UI-интерфейсы являются внешними приложениями-клиентами.
    RBKmoney API работает поверх HTTP-протокола. Мы используем REST архитектуру, схема описывается в соответствии со [Swagger](http://swagger.io/). Коды возврата описываются соответствующими HTTP-статусами. Платформа принимает и возвращает JSON-структуры в HTTP body.
    ## Запросы
    Любой вызов методов API обязан предваряться предоставлением уникального для участника в пределах платформы ID запроса. Данный ID передается в соответствующем заголовке HTTP-запроса:
    ```
     X-Request-ID: oX5MWM2AQy
    ```
    ## Тип содержимого и кодировка
    Любой запрос к API должен выполняться в кодировке UTF-8 и с указанием содержимого в формате JSON
    ```
      Content-Type: application/json; charset=utf-8
    ```
    ## Формат дат
    Платформа принимает значения date-time в формате, описанном в RFC 3339, например:
    ```
      2017-01-01T00:00:00Z
      2017-01-01T00:00:01+00:00
    ```
    ## Максимальное время обработки запроса
    К любому вызову методов API можно добавить параметр отсечки по времени, определяющий максимальное время ожидания завершения операции по запросу. Данная отсечка передается в соответствующем заголовке HTTP-запроса:
    ```
     X-Request-Deadline: 10s
    ```
    Значение отсечки может быть задано в формате, описанном в RFC 3339 (см. [Формат дат](#section/Format-dat)), либо в относительных величинах, например:
    `150000ms`, `540s`, `3.5m` При этом возможные единицы измерения `ms`, `s`, `m`. В обоих случаях  не рекомендуется, чтобы задаваемое значение было меньше **3 секунд** и превышало **1 минуту**.
  termsOfService: 'https://rbk.money/'
  contact:
    name: RBKmoney support team
    email: support@rbk.money
    url: 'https://api.rbk.money'
host: api.rbk.money
basePath: /v2
schemes:
  - https
consumes:
  - application/json; charset=utf-8
produces:
  - application/json; charset=utf-8
securityDefinitions:
  bearer:
    type: apiKey
    name: Authorization
    in: header
    description: |
      Для авторизации вызовов мы используем [JWT](https://jwt.io). Cоответствующий ключ передается в заголовке.
      ```shell
       Authorization: Bearer {JWT}
      ```
      Посмотреть ваш API-ключ вы можете в [личном кабинете](https://dashboard.rbk.money/).

      Обратите внимание, что API-ключ должен использоваться исключительно для межсерверного взаимодействия.
      Для авторизации запросов, выполняемых из контекста браузера плательщика (например, токенизация платежных данных методом [createPaymentResource](https://developer.rbk.money/api/#operation/createPaymentResource)) используйте полученный при вызове [createInvoice](https://developer.rbk.money/api/#operation/createInvoice) `invoiceAccessToken`, либо создайте его напрямую, вызвав метод [createInvoiceAccessToken](https://developer.rbk.money/api/#operation/createInvoiceAccessToken).

      При попытке вызова [createPaymentResource](https://developer.rbk.money/api/#operation/createPaymentResource) с ключом, отличным от invoiceAccessToken, платформа вернет ошибку авторизации со статусом HTTP/401.

      Ключи не разделяются на тестовые и боевые, ваш API ключ открывает доступ ко всем функциям платформы. Для тестовых транзакций используйте ID тестовых магазинов.




      Помните, что вы никому не должны передавать ваш API ключ!
security:
  - bearer: []
responses:
  NotFound:
    description: Заданный ресурс не найден
    schema:
      $ref: '#/definitions/GeneralError'
  Unauthorized:
    description: Ошибка авторизации
  DefaultLogicError:
    description: Неверные данные
    schema:
      $ref: '#/definitions/DefaultLogicError'
  ExternalIDConflict:
    description: Переданное значение `externalID` уже использовалось вами ранее с другими параметрами запроса
    schema:
      $ref: '#/definitions/ExternalIDConflictError'
parameters:
  accountID:
    name: accountID
    in: path
    description: Account ID
    required: true
    type: integer
    format: int64
  requestID:
    name: X-Request-ID
    in: header
    description: Уникальный идентификатор запроса к системе
    required: true
    type: string
    maxLength: 32
    minLength: 1
  claimID:
    name: claimID
    in: path
    description: Идентификатор заявки
    required: true
    type: integer
    format: int64
  claimRevision:
    name: claimRevision
    in: query
    description: Версия заявки
    required: true
    type: integer
    format: int32
  shopID:
    name: shopID
    in: path
    description: Идентификатор магазина
    required: true
    type: string
    maxLength: 40
    minLength: 1
  invoiceTemplateID:
    name: invoiceTemplateID
    in: path
    description: Идентификатор шаблона инвойса
    required: true
    type: string
    maxLength: 40
    minLength: 1
  paymentID:
    name: paymentID
    in: path
    description: Идентификатор платежа в рамках инвойса
    required: true
    type: string
    maxLength: 40
    minLength: 1
  refundID:
    name: refundID
    in: path
    description: Идентификатор возврата в рамках платежа
    required: true
    type: string
    maxLength: 40
    minLength: 1
  chargebackID:
    name: chargebackID
    in: path
    description: Идентификатор возвратного платежа в рамках платежа
    required: true
    type: string
    maxLength: 40
    minLength: 1
  contractID:
    name: contractID
    in: path
    description: Идентификатор договора
    required: true
    type: string
    maxLength: 40
    minLength: 1
  residence:
    name: residence
    in: query
    description: 'Резиденция, alpha-3 код по стандарту [ISO 3166-1](https://en.wikipedia.org/wiki/ISO_3166-1)'
    required: false
    type: string
    pattern: '^[A-Z]{3}$'
  customerID:
    name: customerID
    in: path
    description: Идентификатор кастомера
    required: true
    type: string
    maxLength: 40
    minLength: 1
  customerBindingID:
    name: customerBindingID
    in: path
    description: Идентификатор привязки к кастомера
    required: true
    type: string
    maxLength: 40
    minLength: 1
  webhookID:
    name: webhookID
    in: path
    description: Идентификатор webhook'а
    required: true
    type: string
    maxLength: 40
    minLength: 1
  adjustmentID:
    name: adjustmentID
    in: path
    description: Идентификатор поправки к договору
    required: true
    type: string
    maxLength: 40
    minLength: 1
  payoutToolID:
    name: payoutToolID
    in: path
    description: Идентификатор средства вывода
    required: true
    type: string
    maxLength: 40
    minLength: 1
  payoutID:
    name: payoutID
    in: path
    description: Идентификатор вывода
    required: true
    type: string
    maxLength: 40
    minLength: 1
  reportID:
    name: reportID
    in: path
    description: Идентификатор отчета
    required: true
    type: integer
    format: int64
  fileID:
    name: fileID
    in: path
    description: Идентификатор файла
    required: true
    type: string
    maxLength: 40
    minLength: 1
  invoiceID:
    name: invoiceID
    in: path
    description: Идентификатор инвойса
    required: true
    type: string
    maxLength: 40
    minLength: 1
  paymentInstitutionID:
    name: paymentInstitutionID
    in: path
    description: Payment institution reference
    required: true
    type: integer
    format: int32
  fromTime:
    name: fromTime
    in: query
    description: Начало временного отрезка
    required: true
    type: string
    format: date-time
  toTime:
    name: toTime
    in: query
    description: Конец временного отрезка
    required: true
    type: string
    format: date-time
  splitUnit:
    name: splitUnit
    in: query
    description: Единица времени сегмента разбиения
    required: true
    type: string
    enum:
      - minute
      - hour
      - day
      - week
      - month
      - year
  splitSize:
    name: splitSize
    in: query
    description: Размер сегмента разбиения
    required: true
    type: integer
    format: int32
    minimum: 1
  limit:
    name: limit
    in: query
    description: Лимит выборки
    required: true
    type: integer
    format: int32
    minimum: 1
    maximum: 1000
  offset:
    name: offset
    in: query
    description: Смещение выборки
    required: false
    type: integer
    minimum: 0
  deadline:
    name: X-Request-Deadline
    in: header
    description: Максимальное время обработки запроса
    required: false
    type: string
    maxLength: 40
    minLength: 1
  partyID:
    name: partyID
    in: path
    description: Уникальный в рамках платформы идентификатор участника.
    required: true
    type: string
  countryID:
    name: countryID
    in: path
    required: true
    description: 'Alpha-3 код страны по стандарту [ISO 3166-1](https://en.wikipedia.org/wiki/ISO_3166-1)'
    type: string
    pattern: '^[A-Z]{3}$'
  tradeBlocID:
    name: tradeBlocID
    in: path
    description: Идентификатор торгового блока
    required: true
    type: string
tags:
  - name: Parties
    x-displayName: Участники
    description: |
      Участник системы - совокупность данных о вашей организации, составе и условиях заключенных договоров, а также информация о связанных с организацией магазинах.
  - name: Claims
    x-displayName: Заявки
    description: |
      Некоторая область данных может быть изменена только после премодерации на стороне платформы. Например, создание и активация новых магазинов, изменение финансовых данных вашего участника и т.п. требуют ручной проверки сотрудниками RBKmoney. Попытка изменить такие данные приводит к автоматическому созданию заявки на изменение данных. До тех пор, пока заявка не одобрена, вы можете добавлять изменения. После одобрения они будут применены к набору данных. В случае отказа по заявке данные останутся в неизменном состоянии. Ближайшим аналогом заявок можно представить Pull Request в распределенных системах контроля версий.
  - name: Shops
    x-displayName: Магазины
    description: |
      Магазин - это отображение вашего веб-сайта или точки продаж в платформе. К магазину привязываются финансовые условия, которые определяют, в частности, процент комиссии платформы. Каждый магазин в системе имеет привязанные счета, на которых аккумулируются отправленные плательщиками деньги. В каждой валюте может существовать только один счет. Категория магазина определяет группы товаров или услуг, которые в нем представлены. К магазину может быть привязан банковский терминал на стороне банка-эквайера. Любые изменения данных магазинов требуют верификации на стороне платформы.
      Для тестовых платежей используются магазины, созданные в тестовой категории. Первый тестовый магазин платформа создает автоматически при регистрации участника.
      Ваш веб-сайт или точка продаж могут иметь более одного магазина, ближайшим аналогом можно представить банковские POS-терминалы на точке продаж.
      ## Асинхронные уведомления
      Для любого магазина можно указать URL для получения асинхронных оповещений об изменении состояния данных при помощи установки webhook'а. Например, если вы используете неперсистентные интерпретируемые языки разработки, такие как PHP, вы можете установить webhook, указав URL вашего приложения, на который платформа будет отправлять данных об изменении состояния инвойса. Для проверки подлинности присланных на URL вашего приложения данных используется соответствующий публичный ключ, который создаётся при установке этого webhook'а и получить который можно в вашем личном кабинете.
  - name: Invoices
    x-displayName: Инвойсы
    description: |
      Инвойс - это базовая часть работы с платформой по приему платежей. Перед
      рендерингом платежной формы, запуском транзакций на списание денег,
      холдированием средств на карте плательщика и запуском других подобных
      бизнес-процессов, необходимо создать инвойс и узнать его идентификатор.

      В общем случае, инвойс является контейнером для платежей, данных о товарах
      и магазине. Инвойсы имеют настраиваемый ограниченный срок жизни. После
      истечения срока жизни состояние инвойса изменить невозможно.


      ## Состояния и статусы инвойса

      ### Таблица состояний инвойса:
        | Состояние  | Обозначение |  Описание                                                                                                |
        | --         | --          | --                                                                                                       |
        | Не оплачен | `unpaid`    | Инвойс создан, но финансовые обязательства ещё не погашены.                                              |
        | Отменён    | `cancelled` | Инвойс отменён с указанием причины, все обязательства по нему недействительны.                           |
        | Оплачен    | `paid`      | Финансовые обязательства по инвойсу погашены, но товары или услуги плательщику ещё не предоставлены.     |
        | Погашен    | `fulfilled` | Все обязательства, как плательщика, так и мерчанта, погашены.                                            |

      В узлах диаграммы указаны статусы инвойса, стрелки помечены процессами,
      успешное завершение которых порождает переход из одного статуса в другой.

      ![Invoice State diagram](wsd/img/invoice.svg)

      ## Метаданные инвойса и платежа

      Платформа предоставляет вам возможность заполнить и сохранить любые
      необходимые метаданные как в структуре инвойса, так и в структуре любого платежа.
      Данные описываются массивом JSON. В дальнейшем платформа предоставит
      вам эти данные при запросе данных инвойса или платежа по его идентификатору
      либо пришлет в асинхронном режиме на webhook, установленный для соответствующего
      магазина, если он есть.

      ## События инвойса

      Мы используем event-based, или событийную архитектуру для любого изменения
      состояния данных в платформе. События, которые генерируют участники
      процесса привязываются к объектам системы, и таким образом позволяют
      узнать конечное состояние данных объекта. В системе можно получить как
      полный список событий, приведших к определенному состоянию данных, так и
      последнее событие, описывающее текущее состояние объекта. Например, для
      того, чтобы узнать состояние инвойса, и таким образом принять решение об
      отгрузке товара или предоставлении услуги плательщику, можно запросить у
      платформы все события, произошедшие в рамках указанного ID инвойса, либо
      самое последнее из них.

      ## Authorization

      Операции:

      * создания инвойса,

      * отмены инвойса,

      * погашения инвойса,

      * получения *нового* токена доступа к инвойсу (уже после создания инвойса)


      авторизуются вашим API-ключом.

      ### Токен доступа к инвойсу

      Токен доступа к инвойсу авторизует ограниченное количество операций,
      необходимых для проведения [платежей](#tag/Payments) по указанному
      инвойсу, в частности:

      * [токенизация](#tag/Tokens) платёжных инструментов,

      * создание платежей по этому и только этому инвойсу,

      * получение состояния и событий этого инвойса.


      Срок действия токена составляет 3 суток от момента создания, после
      истечения которого использовать его для авторизации операций будет более
      невозможно.
  - name: InvoiceTemplates
    x-displayName: Шаблоны инвойсов
    description: |
      Шаблоны инвойсов позволяют упростить выставление инвойсов. Шаблон инвойса привязан к конкретному магазину и содержит спецификацию, по которой можно создавать инвойсы, указывая только конкретнyю стоимость товаров и услуг и/или метаданные инвойса. В случае, если шаблон содержит фиксированную стоимость, её также можно опустить при создании инвойса. Если при создании инвойса по шаблону не указать метаданные инвойса, они будут взяты из значения в шаблоне (если шаблон содержит метаданные).

      Cоздание, модификация и удаление шаблона инвойса не требуют верификации на стороне платформы и заявок на эти изменения.
      ## Authorization
      Создание, модификация и удаление шаблона инвойса авторизуются вашим API-ключом.
      ### Токен доступа к шаблону инвойса
      Токен доступа к шаблону инвойса создается в результате операции создания шаблона. Он авторизует:
      * получение шаблона инвойса по его идентификатору,
      * создание инвойса по данному шаблону.
  - name: Accounts
    x-displayName: Счета
    description: |
      Каждый магазин в платформе имеет привязанные счета, на которых аккумулируются средства плательщиков. К магазину может быть привязан счет в любой валюте, если это описано в рамках договора с участником системы, однако не более одного счета в одинаковой валюте.
      Счета разделяются на два основных типа - основной счет и счет гарантийного фонда.
      Основной счет используется для оперативных взаиморасчетов между банковскими счетами RBKmoney и вашими банковскими счетами для вывода средств. Вывод средств предваряется суммированием всех средств со счетов ваших магазинов и последующим переводом с помощью банковских транзакций, либо других средств вывода денег из системы.
      Счет гарантийного фонда используется для накопления определенных сумм средств от оборота магазина так, как это указано в договоре с участником.
  - name: Payments
    x-displayName: Платежи
    description: |
      Реальное списание денег с плательщиков осуществляется вызовом метода создания платежа. Перед запуском платежей необходимо создать инвойс, в рамках которого платформа будет проводить попытки списания, а также указать токен платежного средства плательщика. Таким образом, платформа предоставляет вам интерфейс, позволяющий со стороны вашего серверного кода инициировать и контролировать процесс списания денег. Данный процесс может быть, как синхронным, когда вы ожидаете ответа системы, так и асинхронным, когда после запуска платежа вы ожидаете уведомлений на установленный для соответствующего магазина webhook.
      ## Варианты проведения оплаты
      Платформа предоставляет два метода выполнения операции оплаты: одно- и двухстадийный, PaymentFlowInstant и PaymentFlowHold.
      Одностадийная оплата (PaymentFlowInstant) выполняется вызовом одного метода API, по результатам которого проходит авторизация и последующее списание средств в пользу магазина в рамках одной транзакции.
      Двухстадийная оплата (PaymentFlowHold) подразумевает вызов двух методов: отдельно на авторизацию, отдельно на списание. После успешной авторизации сумма операции будет блокирована на счету плательщика, то есть он не сможет ей воспользоваться.
      Подтвердить списание (capturePayment) можно на равную или меньшую сумму авторизации. В случае указания меньшей суммы остаток средств будет автоматически возвращен плательщику. Подтвердить или отменить успешную авторизацию можно как вручную, вызвав соответствующий метод API (capturePayment или cancelPayment), так и автоматически, согласно выбранной стратегии onHoldExpiration. Срок ручного подтверждения устанавливается нами в настройках платформы и, как правило, составляет от 3 до 7 календарных дней.
      ## Платежная сессия
      Платформа обеспечивает идемпотентность списания денег с платежного средства, предоставляя уникальный идентификатор платежной сессии. Данный идентификатор предоставляется в процессе создания [токена платежного средства](#tag/Tokens) и гарантирует идемпотентность запросов на списание средств, обеспечивая защиту от ошибочных повторных списаний.
      ## Ограничение времени обработки платежа
      При создании платежа в рамках платформы, в поле `processingDeadline` можно задать время выполнения платежа, по истечении которого, платформа попытается прекратить обработку платежа и перевести его в статус `failed` с ошибкой `processing_deadline_reached`.

      Ограничение на время обработки следует рассматривать как рекомендацию, поскольку в зависимости от платежного средства и текущего состояния платежа у платформы может не быть возможности прекратить обработку. Если значение поля не установлено, то платформа выберет его самостоятельно, так чтобы было достаточно времени для прохождения платежа в обычных условиях.

      Ограничение времени обработки платежа, аналогично заголовку `X-Request-Deadline`, может указываться в формате, описанном в RFC 3339, или в относительных величинах.
      ## Authorization
      Запросы API платежей авторизуются либо токеном доступа к инвойсу, по которому создан платеж, либо вашим API-ключом.
  - name: Tokens
    x-displayName: Платежные токены
    description: |
      Платформа предоставляет вам возможность самостоятельно инициировать списание денег с платежных карт плательщиков и берет на себя процессы сертификации и соответствия стандартам PCS-DSS. Стандарт декларирует запрет на обработку и хранение данных держателей карт (ДДК) на стороне мерчанта. Используемые нами подходы к реализации интерфейса подразумевают возможность верстки и отдачи HTML формы для ввода ДДК на стороне вашего серверного кода. Чтобы обеспечить соответствие стандартам мы предоставляем разработанную нами JS-библиотеку, которая после встраивания в HTML-код вашей платежной формы в асинхронном режиме собирает ДДК и отправляет на интерфейс платформы для дальнейшего шифрования и токенизации. В ответ JS-библиотека возвращает на вашу платежную форму уникальный токен платежной карты, который в дальнейшем вы можете использовать для запуска платежей.

      В процессе создания токена предоставляется [платежная сессия](#tag/Payments), обеспечивающая идемпотентность списания денег с платежного средства.
  - name: Categories
    x-displayName: Категории магазинов
    description: |
      Для описания групп товаров и услуг, предоставляемых магазинами, используются категории. Категории могут влиять на предоставление статистики, упорядочивание магазинов, а также на финансовые условия системы.
  - name: Contracts
    x-displayName: Договоры
    description: |
      Договор содержит данные юридического соглашения, на основе которого система предоставляет всевозможные услуги мерчанту. В договоре, в частности описывается набор условий, по которым предоставляются сервисы платформы, например, комиссии на проведение транзакций, условия вывода средств и данных юридического лица.
      Любые изменения данных магазинов требуют верификации на стороне платформы путем создания заявок на изменение.
  - name: Payouts
    x-displayName: Вывод средств
    description: |
      Для получения автоматических выплат по принятым платежам на ваш банковский счет необходимо в рамках договора с системой указать данные для вывода средств. В дальнейшем по указанным данным система будет инициировать банковские переводы на основе суммы платежей, принятой по всем активным магазинам.
      Любые изменения данных требуют верификации на стороне платформы путем создания заявок на изменение.
  - name: Webhooks
    x-displayName: Webhooks
    description: |
      ## RBKmoney Webhooks Management API
      В данном разделе описаны методы, позволяющие управлять Webhook'ами, или инструментами для получения асинхронных оповещений посредством HTTP-запросов при наступлении одного или группы интересующих вас событий, например, о том, что платеж в рамках созданного инвойса был успешно оплачен.
      ## RBKmoney Webhooks Events API
      Внимание! Только Webhooks Management API является частью платформы RBKmoney, а следовательно и данной спецификации. Для реализации обработчика присылаемых уведомлений вам необходимо будет ознакомиться со Swagger-спецификацей [RBKmoney Webhooks Events API](https://rbkmoney.github.io/webhooks-events-api).
  - name: Geo
    x-displayName: Геопозиционирование
    description: |
      Для отображения геоданных плательщиков существуют вспомогательные операции, например, получение названия геопозиции по её идентификатору.
  - name: Search
    x-displayName: Поиск
    description: |
      Для получения списка всех инвойсов/платежей указанного магазина необходимо вызвать соответствующий метод платформы. Имеется возможность отфильтровать выборку по определенным статусам.
  - name: Analytics
    x-displayName: Аналитика
    description: |
      Платформа предоставляет возможность получения различных аналитических данных, полученных в рамках взаимодействия с ней. Аналитические отчеты подготовлены заранее и не подразумевают интерактивного изменения структуры данных.
  - name: PaymentInstitutions
    x-displayName: Платёжные организации
    description: |
      Платёжная организация - организация, осуществляющая услуги по обслуживанию финансовых операций, которые возникают в результате осуществления бизнес-процессов системой.
  - name: Reports
    x-displayName: Отчеты
    description: |
      Один раз в отчетный период платформа автоматически подготавливает и размещает документы в формате XLSX с разбиением по магазину активной категории. Также, каждый документ будет подписан [квалифицированной ЭЦП](http://minsvyaz.ru/ru/appeals/faq/31/). Данная подпись является юридически значимой и позволяет полностью отказаться от бумажного документооборота.
  - name: Error Codes
    x-displayName: Коды ошибок
    description: |

      ## Ошибки бизнес-логики
      Все ошибки бизнес-логики имеют следуюший вид:

        ```json
        {
          "code": "string",
          "message": "string"
        }
        ```

      В поле `code` содержится тип ошибки, а в `message` - дополнительная информация по произошедшей ошибке.
      На данный момент существуют следующие коды ошибок:

        | Код                              | Описание                                                                                                                              |
        | ---                              | --------                                                                                                                              |
        | **operationNotPermitted**        | Недоступная в рамках действующего договора операция.                                                                                  |
        | **invalidPartyStatus**           | Ваш участник заблокирован или его операции приостановлены. В последнем случае вы можете их [возобновить](#operation/activateMyParty). |
        | **invalidShopStatus**            | Ваш магазин заблокирован или его операции приостановлены. В последнем случае вы можете их [возобновить](#operation/activateShop).     |
        | **invalidContractStatus**        | Ваш договор более не имеет силы, по причине истечения срока действия или расторжения.                                                 |
        | **invalidShopID**                | Магазин с указанным идентификатором не существует или недоступен.                                                                    |
        | **invalidInvoiceCost**           | Стоимость инвойса не указана или неверна, в частности, не равна стоимости позиций в корзине.                                          |
        | **invalidInvoiceCart**           | Некорректная корзина в инвойсе, Например, пустая.                                                                                     |
        | **invalidInvoiceStatus**         | Неверный [статус инвойса](#tag/Invoices). Например, при попытке [оплатить](#operation/createPayment) отменённый инвойс.               |
        | **invoiceTermsViolated**         | Инвойс нарушает ограничения, установленные в рамках действующего договора.                                                            |
        | **invoicePaymentPending**        | Последний запущенный платёж по указанному инвойсу ещё не достиг финального статуса.                                                   |
        | **invalidPaymentStatus**         | Неверный [статус платежа](#tag/Payments). Например, при попытке [подтвердить](#operation/capturePayment) неуспешный платёж.           |
        | **invalidPaymentResource**       | Не поддерживаемый системой или не подключенный в рамках действующего договора платежный инструмент.                                   |
        | **invalidPaymentToolToken**      | Неверное содержимое токена платёжного инструмента.                                                                                    |
        | **invalidProcessingDeadline**    | Неверный формат ограничения времени авторизации платежа.                                                                              |
        | **invalidPaymentSession**        | Невернoе содержимое платёжной сессии.                                                                                                 |
        | **invalidRecurrentParent**       | Невернo указан родительский рекуррентный платеж.                                                                                      |
        | **insufficentAccountBalance**    | Недостаточный объём денежных средств на счёте магазина, например, для проведения возврата.                                            |
        | **invoicePaymentAmountExceeded** | Попытка возврата сверх суммы платежа.                                                                                                 |
        | **inconsistentRefundCurrency**   | Попытка возврата средств в валюте, отличной от валюты платежа.                                                                        |
        | **changesetConflict**            | Попытка внести изменения участника, конфликтующие с изменениями в других заявках, ожидающих рассмотрения.                             |
        | **invalidChangeset**             | Неверные изменения участника, например, попытка создать магазин в валюте, недоступной в рамках договора.                              |
        | **invalidClaimStatus**           | Неверный статус заявки. Например, при попытке [отзыва](#operation/revokeClaimByID) уже принятой заявки.                               |
        | **invalidClaimRevision**         | Неверная ревизия заявки. Например, в случае если заявку одновременно с вами кто-то уже принял или отклонил.                           |
        | **limitExceeded**                | Превышен разумный лимит выборки. В этом случае лучше запросить менее объёмный набор данных.                                           |
        | **invalidDeadline**              | Неверный формат времени.                                                                                                              |
        | **chargebackInProgress**         | Попытка возврата при открытом возвратном платеже.                                                                                     |
        | **invalidRequest**               | Прочие неверные данные запроса.                                                                                                       |
        | **invalidPartyID**               | Участник с указанным идентификатором не существует или недоступен.                                                                  |
        | **ambiguousPartyID**             | Невозможно однозначно определить идентификатор участника, укажите идентификатор в запросе явно.                                       |

      ## Общие ошибки
      Ошибки возникающие при попытках совершения операций с незарегистрированными в системе объектами. Имеют вид

        ```json
        {
            "message": "string"
        }
        ```

      В поле `message` содержится информация по произошедшей ошибке. Например:

        ```json
        {
            "message": "Invoice not found"
        }
        ```

      ## Ошибки обработки запросов
      В процессе обработки запросов силами нашей платформы могут происходить различные непредвиденные ситуации. Об их появлении платформа сигнализирует по протоколу HTTP соответствующими [статусами][5xx], обозначающими ошибки сервера.

        |  Код    |  Описание  |
        | ------- | ---------- |
        | **500** | В процессе обработки платформой запроса возникла непредвиденная ситуация. При получении подобного кода ответа мы рекомендуем обратиться в техническую поддержку. |
        | **503** | Платформа временно недоступна и не готова обслуживать данный запрос. Запрос гарантированно не выполнен, при получении подобного кода ответа попробуйте выполнить его позднее, когда доступность платформы будет восстановлена. |
        | **504** | Платформа превысила допустимое время обработки запроса, результат запроса не определён. Попробуйте отправить запрос повторно или выяснить результат выполнения исходного запроса, если повторное исполнение запроса нежелательно. |

      [5xx]: https://tools.ietf.org/html/rfc7231#section-6.6

      ## Ошибки платежа
      Ошибки, передаваемые в платежную форму (отображаются плательщикам):

        | Код                    | Описание                                                                                                                                      |
        | ---                    | --------                                                                                                                                      |
        | InvalidPaymentTool     | Неверный платежный инструмент (введен номер несуществующей карты, отсутствующего аккаунта и т.п.)                                             |
        | AccountLimitsExceeded  | Превышены лимиты (например, в личном кабинете плательщика установлено ограничение по сумме платежа, стране списания)                          |
        | InsufficientFunds      | Недостаточно средств на счете                                                                                                                 |
        | PreauthorizationFailed | Предварительная авторизация отклонена (введен неверный код 3D-Secure, на форме 3D-Secure нажата ссылка отмены)                                |
        | RejectedByIssuer       | Платёж отклонён эмитентом (установлены запреты по стране списания, запрет на покупки в интернете, платеж отклонен антифродом эмитента и т.п.) |
        | PaymentRejected        | платёж отклонён по иным причинам                                                                                                              |

      Ошибки, передаваемые в ЛК мерчанта (отображаются только вам):
      - timeout

        Истекло время ожидания попытки оплаты

      - rejected_by_inspector

        Отклонено сервисом противодействия мошенничеству

      - preauthorization_failed

        Ошибка предавторизации (3DS)

      - authorization_failed:

        Ошибка авторизации платежа у провайдера

        - unknown

          Неизвестная ошибка авторизации

        - merchant_blocked

          Мерчант заблокирован

        - operation_blocked

          Операция платежа заблокирована

        - account_not_found

          Аккаунт не найден

        - account_blocked

          Аккаунт заблокирован

        - account_stolen

          Аккаунт украден

        - insufficient_funds

          Не хватает средств

        - processing_deadline_reached

          Истекло время выполнения платежа (см. [Ограничение времени обработки платежа](#section/Ogranichenie-vremeni-obrabotki-platezha))

        - account_limit_exceeded:

          Превышен лимит на счете плательщика

          - unknown

            Объект лимита неизвестен

          - amount

            Лимит на сумму

          - number

            Лимит на количество попыток

        - provider_limit_exceeded:

          Превышен лимит на мерчанта у провайдера (вас или платформы RBKmoney)

          - unknown

            Объект лимита неизвестен

          - amount

            Лимит на сумму

          - number

            Лимит на количество попыток

        - payment_tool_rejected:

          Платёжный интрумент отклонён

          - unknown

            Неизвестный платёжный интрумент

          - bank_card_rejected:

            Банковская карта отклонена

            - unknown

              Причина неизвестна

            - card_number_invalid

              Неверный номер карты

            - card_expired

              Истёк срок действия карты

            - card_holder_invalid

              Неверный владелец карты

            - cvv_invalid

              Неверный CVV код

            - issuer_not_found

              Эмитент не найден

        - security_policy_violated

          Нарушения политики безопасности

        - temporarily_unavailable

          Временная недоступность третьих сторон

        - rejected_by_issuer

          Отклонено эмитентом


      Например, в случае некорретного CVV:
      ```
      {
          "code": "authorization_failed",
          "subError": {
              "code": "payment_tool_rejected",
              "subError": {
                  "code": "bank_card_rejected",
                  "subError": {
                      "code": "cvv_invalid"
                  }
              }
          }
      }
      ```
      Если вы получили ошибку, которой нет в данном описании, обратитесь в техническую поддержку.
paths:
  '/analytics/shops/{shopID}/customers/stats/payment_method':
    get:
      description: |
        Получить статистику по платежным средствам за определённое время.
      tags:
        - Analytics
      operationId: getPaymentMethodStats
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/shopID'
        - $ref: '#/parameters/fromTime'
        - $ref: '#/parameters/toTime'
        - $ref: '#/parameters/splitUnit'
        - $ref: '#/parameters/splitSize'
        - name: paymentMethod
          in: query
          description: Метод оплаты
          type: string
          required: true
          enum:
            - bankCard
      responses:
        '200':
          description: Статистика по платежным средствам
          schema:
            type: array
            items:
              $ref: '#/definitions/PaymentMethodStat'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/analytics/shops/{shopID}/customers/stats/rate':
    get:
      description: |
        Получить статистику по уникальным плательщикам за определённое время.
      tags:
        - Analytics
      operationId: getPaymentRateStats
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/shopID'
        - $ref: '#/parameters/fromTime'
        - $ref: '#/parameters/toTime'
      responses:
        '200':
          description: Статистика по уникальным плательщикам
          schema:
            $ref: '#/definitions/PaymentRateStat'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/analytics/shops/{shopID}/invoices':
    get:
      description: Поиск инвойсов
      tags:
        - Search
      operationId: searchInvoices
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/shopID'
        - $ref: '#/parameters/fromTime'
        - $ref: '#/parameters/toTime'
        - $ref: '#/parameters/limit'
        - name: invoiceStatus
          in: query
          description: Статус инвойса для поиска
          required: false
          type: string
          enum:
            - unpaid
            - cancelled
            - paid
            - fulfilled
        - name: paymentStatus
          in: query
          description: Статус платежа для поиска
          required: false
          type: string
          enum:
            - pending
            - processed
            - captured
            - cancelled
            - refunded
            - failed
        - name: paymentFlow
          in: query
          description: Flow платежа
          required: false
          type: string
          enum:
            - instant
            - hold
        - name: paymentMethod
          in: query
          description: Метод оплаты
          required: false
          type: string
          enum:
            - bankCard
            - paymentTerminal
        - name: paymentTerminalProvider
          in: query
          description: Провайдер платежного терминала
          required: false
          type: string
          enum:
            - euroset
            - alipay
            - wechat
            - zotapay
            - qps
            - uzcard
            - rbs
        - name: invoiceID
          in: query
          description: Идентификатор инвойса
          required: false
          type: string
          maxLength: 40
          minLength: 1
        - name: paymentID
          in: query
          description: Идентификатор платежа
          required: false
          type: string
          maxLength: 40
          minLength: 1
        - name: payerEmail
          in: query
          description: 'Email, указанный при оплате'
          required: false
          type: string
          format: email
          maxLength: 100
        - name: payerIP
          in: query
          description: IP-адрес плательщика
          required: false
          type: string
          format: ip-address
          maxLength: 45
        - name: payerFingerprint
          in: query
          description: Уникальный отпечаток user agent'а плательщика
          required: false
          type: string
          maxLength: 1000
        - name: customerID
          in: query
          description: Идентификатор плательщика
          required: false
          type: string
          maxLength: 40
          minLength: 1
        - name: bankCardTokenProvider
          in: query
          required: false
          description: Провайдер платежных токенов
          type: string
          enum:
            - applepay
            - googlepay
            - samsungpay
            - yandexpay
        - name: bankCardPaymentSystem
          in: query
          required: false
          description: Платежная система
          type: string
          enum:
            - visa
            - mastercard
            - visaelectron
            - maestro
            - forbrugsforeningen
            - dankort
            - amex
            - dinersclub
            - discover
            - unionpay
            - jcb
            - nspkmir
            - elo
            - rupay
            - dummy
            - uzcard
        - name: first6
          in: query
          description: Первые 6 цифр номера карты
          required: false
          type: string
          pattern: '^\d{6}$'
        - name: last4
          in: query
          description: Последние цифры номера карты
          required: false
          type: string
          pattern: '^\d{0,4}$'
        - name: rrn
          in: query
          description: Retrieval Reference Number
          required: false
          type: string
          pattern: '^[a-zA-Z0-9]{12}$'
        - name: paymentAmount
          in: query
          description: Сумма платежа
          required: false
          type: integer
          format: int64
          minimum: 1
        - name: invoiceAmount
          in: query
          description: Сумма инвойса
          required: false
          type: integer
          format: int64
          minimum: 1
        - name: continuationToken
          in: query
          required: false
          description: |
            Токен, сигнализирующий о том, что в ответе передана только часть данных.
            Для получения следующей части нужно повторно обратиться к сервису, указав тот-же набор условий и полученый токен.
            Если токена нет, получена последняя часть данных.
          type: string
      responses:
        '200':
          description: Найденные инвойсы
          schema:
            type: object
            properties:
              continuationToken:
                description: |
                  Токен, сигнализирующий о том, что в ответе передана только часть данных.
                  Для получения следующей части нужно повторно обратиться к сервису, указав тот-же набор условий и полученый токен.
                  Если токена нет, получена последняя часть данных.
                type: string
              result:
                type: array
                items:
                  $ref: '#/definitions/Invoice'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/analytics/shops/{shopID}/payments':
    get:
      description: Поиск платежей
      tags:
        - Search
      operationId: searchPayments
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/shopID'
        - $ref: '#/parameters/fromTime'
        - $ref: '#/parameters/toTime'
        - $ref: '#/parameters/limit'
        - name: paymentStatus
          in: query
          description: Статус платежа для поиска
          required: false
          type: string
          enum:
            - pending
            - processed
            - captured
            - cancelled
            - refunded
            - failed
        - name: paymentFlow
          in: query
          description: Flow платежа
          required: false
          type: string
          enum:
            - instant
            - hold
        - name: paymentMethod
          in: query
          description: Метод оплаты
          required: false
          type: string
          enum:
            - bankCard
            - paymentTerminal
        - name: paymentTerminalProvider
          in: query
          description: Провайдер платежного терминала
          required: false
          type: string
          enum:
            - euroset
            - alipay
            - wechat
            - zotapay
            - qps
            - uzcard
            - rbs
        - name: invoiceID
          in: query
          description: Идентификатор инвойса
          required: false
          type: string
          maxLength: 40
          minLength: 1
        - name: paymentID
          in: query
          description: Идентификатор платежа
          required: false
          type: string
          maxLength: 40
          minLength: 1
        - name: payerEmail
          in: query
          description: 'Email, указанный при оплате'
          required: false
          type: string
          format: email
          maxLength: 100
        - name: payerIP
          in: query
          description: IP-адрес плательщика
          required: false
          type: string
          format: ip-address
          maxLength: 45
        - name: payerFingerprint
          in: query
          description: Уникальный отпечаток user agent'а плательщика
          required: false
          type: string
          maxLength: 1000
        - name: customerID
          in: query
          description: Идентификатор плательщика
          required: false
          type: string
          maxLength: 40
          minLength: 1
        - name: first6
          in: query
          description: Первые 6 цифр номера карты
          required: false
          type: string
          pattern: '^\d{6}$'
        - name: last4
          in: query
          description: Последние цифры номера карты
          required: false
          type: string
          pattern: '^\d{0,4}$'
        - name: rrn
          in: query
          description: Retrieval Reference Number
          required: false
          type: string
          pattern: '^[a-zA-Z0-9]{12}$'
        - name: approvalCode
          in: query
          description: Authorization Approval Code
          required: false
          type: string
          maxLength: 40
          minLength: 1
        - name: bankCardTokenProvider
          in: query
          required: false
          description: Провайдер платежных токенов
          type: string
          enum:
            - applepay
            - googlepay
            - samsungpay
            - yandexpay
        - name: bankCardPaymentSystem
          in: query
          required: false
          description: Платежная система
          type: string
          enum:
            - visa
            - mastercard
            - visaelectron
            - maestro
            - forbrugsforeningen
            - dankort
            - amex
            - dinersclub
            - discover
            - unionpay
            - jcb
            - nspkmir
            - elo
            - rupay
            - dummy
            - uzcard
        - name: paymentAmount
          in: query
          description: Сумма платежа
          required: false
          type: integer
          format: int64
          minimum: 1
        - name: continuationToken
          in: query
          required: false
          description: |
            Токен, сигнализирующий о том, что в ответе передана только часть данных.
            Для получения следующей части нужно повторно обратиться к сервису, указав тот-же набор условий и полученый токен.
            Если токена нет, получена последняя часть данных.
          type: string
      responses:
        '200':
          description: Найденные платежи
          schema:
            type: object
            properties:
              continuationToken:
                description: |
                  Токен, сигнализирующий о том, что в ответе передана только часть данных.
                  Для получения следующей части нужно повторно обратиться к сервису, указав тот-же набор условий и полученый токен.
                  Если токена нет, получена последняя часть данных.
                type: string
              result:
                type: array
                items:
                  $ref: '#/definitions/PaymentSearchResult'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/analytics/shops/{shopID}/payments/stats/conversion':
    get:
      description: |
        Получить статистику конверсии платежей магазина за определённое время.
      tags:
        - Analytics
      operationId: getPaymentConversionStats
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/shopID'
        - $ref: '#/parameters/fromTime'
        - $ref: '#/parameters/toTime'
        - $ref: '#/parameters/splitUnit'
        - $ref: '#/parameters/splitSize'
      responses:
        '200':
          description: Статистика конверсии платежей
          schema:
            type: array
            items:
              $ref: '#/definitions/PaymentConversionStat'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/analytics/shops/{shopID}/payments/stats/geo':
    get:
      description: |
        Получить статистику по геопозициям плательщиков за определённое время.
      tags:
        - Analytics
      operationId: getPaymentGeoStats
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/shopID'
        - $ref: '#/parameters/fromTime'
        - $ref: '#/parameters/toTime'
        - $ref: '#/parameters/splitUnit'
        - $ref: '#/parameters/splitSize'
      responses:
        '200':
          description: Статистика по геопозициям плательщиков
          schema:
            type: array
            items:
              $ref: '#/definitions/PaymentGeoStat'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/analytics/shops/{shopID}/payments/stats/revenue':
    get:
      description: |
        Получить статистику по сумме платежей магазина за определенное время, в том
        числе за вычетом комиссии системы.
      tags:
        - Analytics
      operationId: getPaymentRevenueStats
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/shopID'
        - $ref: '#/parameters/fromTime'
        - $ref: '#/parameters/toTime'
        - $ref: '#/parameters/splitUnit'
        - $ref: '#/parameters/splitSize'
      responses:
        '200':
          description: Статистика по сумме платежей и прибыли
          schema:
            type: array
            items:
              $ref: '#/definitions/PaymentRevenueStat'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/analytics/shops/{shopID}/payouts':
    get:
      description: Поиск выплат
      tags:
        - Search
      operationId: searchPayouts
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/shopID'
        - $ref: '#/parameters/fromTime'
        - $ref: '#/parameters/toTime'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - name: payoutID
          in: query
          description: Идентификатор выплаты
          required: false
          type: string
          maxLength: 40
          minLength: 1
        - name: payoutToolType
          in: query
          description: Тип выплаты для поиска
          required: false
          type: string
          enum:
            - PayoutAccount
            - Wallet
      responses:
        '200':
          description: Найденные выплаты
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              result:
                type: array
                items:
                  $ref: '#/definitions/Payout'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/analytics/shops/{shopID}/refunds':
    get:
      description: Поиск возвратов
      tags:
        - Search
      operationId: searchRefunds
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/shopID'
        - $ref: '#/parameters/fromTime'
        - $ref: '#/parameters/toTime'
        - $ref: '#/parameters/limit'
        - $ref: '#/parameters/offset'
        - name: invoiceID
          in: query
          description: Идентификатор инвойса
          required: false
          type: string
          maxLength: 40
          minLength: 1
        - name: paymentID
          in: query
          description: Идентификатор платежа
          required: false
          type: string
          maxLength: 40
          minLength: 1
        - name: refundID
          in: query
          description: Идентификатор возврата
          required: false
          type: string
          maxLength: 40
          minLength: 1
        - name: rrn
          in: query
          description: Retrieval Reference Number
          required: false
          type: string
          pattern: '^[a-zA-Z0-9]{12}$'
        - name: approvalCode
          in: query
          description: Authorization Approval Code
          required: false
          type: string
          maxLength: 40
          minLength: 1
        - name: refundStatus
          in: query
          description: Статус возврата
          type: string
          enum:
            - pending
            - succeeded
            - failed
      responses:
        '200':
          description: Найденные возвраты
          schema:
            type: object
            properties:
              totalCount:
                type: integer
              result:
                type: array
                items:
                  $ref: '#/definitions/RefundSearchResult'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/parties/{partyID}/shops/{shopID}/reports':
    post:
      description: Сгенерировать отчет с указанным типом по магазину за указанный промежуток времени
      tags:
        - Reports
      operationId: createReportForParty
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/shopID'
        - $ref: '#/parameters/partyID'
        - name: createReport
          in: body
          description: Параметры генерации отчета
          required: true
          schema:
            $ref: '#/definitions/ReportParams'
      responses:
        '201':
          description: Отчет создан
          schema:
            $ref: '#/definitions/Report'
        '400':
          description: Ошибочные данные для генерации
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - invalidShopID
                  - invalidRequest
                  - invalidDeadline
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: Invalid shop id
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
    get:
      description: Получить список отчетов по данному магазину за период
      tags:
        - Reports
      operationId: getReportsForParty
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/shopID'
        - $ref: '#/parameters/fromTime'
        - $ref: '#/parameters/toTime'
        - $ref: '#/parameters/partyID'
      responses:
        '200':
          description: Найденные отчеты
          schema:
            type: array
            items:
              $ref: '#/definitions/Report'
        '400':
          description: Ошибочные данные для получения
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - limitExceeded
                  - invalidRequest
                  - invalidDeadline
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: 'Max limit: 1000'
        '401':
          $ref: '#/responses/Unauthorized'
  '/parties/{partyID}/shops/{shopID}/reports/{reportID}':
    get:
      description: Получить отчет по данному идентификатору
      tags:
        - Reports
      operationId: getReportForParty
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/shopID'
        - $ref: '#/parameters/reportID'
        - $ref: '#/parameters/partyID'
      responses:
        '200':
          description: Найденный отчет
          schema:
            $ref: '#/definitions/Report'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/parties/{partyID}/shops/{shopID}/reports/{reportID}/files/{fileID}/download':
    get:
      description: Скачать файл
      tags:
        - Reports
      operationId: downloadFileForParty
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/shopID'
        - $ref: '#/parameters/partyID'
        - $ref: '#/parameters/reportID'
        - $ref: '#/parameters/fileID'
      responses:
        '200':
          description: Download link
          schema:
            $ref: '#/definitions/ReportLink'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/accounts/{accountID}':
    get:
      description: Get account by ID
      operationId: getAccountByID
      tags:
        - Accounts
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/accountID'
      responses:
        '200':
          description: Account found
          schema:
            $ref: '#/definitions/Account'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  /processing/categories:
    get:
      description: Получить список категорий
      tags:
        - Categories
      operationId: getCategories
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
      responses:
        '200':
          description: List of categories
          schema:
            type: array
            items:
              $ref: '#/definitions/Category'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
  '/processing/categories/{categoryID}':
    get:
      description: Получить данные категории по ее ID
      tags:
        - Categories
      operationId: getCategoryByRef
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - name: categoryID
          in: path
          description: Category reference
          required: true
          type: integer
          format: int32
      responses:
        '200':
          description: Category found
          schema:
            $ref: '#/definitions/Category'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  /processing/claims:
    get:
      description: |
        Получить список заявок участника, при желании отфильтрованный по значению
        статуса.
      operationId: getClaims
      tags:
        - Claims
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - name: claimStatus
          description: Значение статуса для фильтрации
          in: query
          type: string
          enum:
            - pending
            - accepted
            - denied
            - revoked
      responses:
        '200':
          description: Список найденных заявок
          schema:
            type: array
            items:
              $ref: '#/definitions/Claim'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
    post:
      description: |
        Создать новую заявку с заданным набором изменений и отправить её на
        премодерацию.
      operationId: createClaim
      tags:
        - Claims
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - name: claimChangeset
          in: body
          required: true
          schema:
            $ref: '#/definitions/ClaimChangeset'
      responses:
        '201':
          description: Заявка создана
          schema:
            $ref: '#/definitions/Claim'
        '400':
          description: Ошибочные данные в заявке
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - changesetConflict
                  - invalidPartyStatus
                  - invalidChangeset
                  - invalidRequest
                  - invalidDeadline
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: Changeset conflict
        '401':
          $ref: '#/responses/Unauthorized'
  '/processing/claims/{claimID}':
    get:
      description: |
        Получить заявку по её идентификатору.
      operationId: getClaimByID
      tags:
        - Claims
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/claimID'
      responses:
        '200':
          description: Данные заявки
          schema:
            $ref: '#/definitions/Claim'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/claims/{claimID}/revoke':
    put:
      description: Отозвать заявку по её идентификатору.
      operationId: revokeClaimByID
      tags:
        - Claims
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/claimID'
        - $ref: '#/parameters/claimRevision'
        - name: reason
          in: body
          schema:
            $ref: '#/definitions/Reason'
      responses:
        '204':
          description: Заявка отозвана
        '400':
          description: Ошибка отзыва заявки
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - invalidClaimStatus
                  - invalidClaimRevision
                  - invalidPartyStatus
                  - invalidRequest
                  - invalidDeadline
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: Invalid claim status
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  /processing/contracts:
    get:
      description: Получить данные всех договоров участника
      operationId: getContracts
      tags:
        - Contracts
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
      responses:
        '200':
          description: List of contracts
          schema:
            type: array
            items:
              $ref: '#/definitions/Contract'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
  '/processing/contracts/{contractID}':
    get:
      description: Получить данные договора по его ID
      operationId: getContractByID
      tags:
        - Contracts
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/contractID'
      responses:
        '200':
          description: Contract found
          schema:
            $ref: '#/definitions/Contract'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/contracts/{contractID}/adjustments':
    get:
      description: Получить данные всех поправок к указанному договору
      operationId: getContractAdjustments
      tags:
        - Contracts
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/contractID'
      responses:
        '200':
          description: Набор поправок к договору
          schema:
            type: array
            items:
              $ref: '#/definitions/ContractAdjustment'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/contracts/{contractID}/adjustments/{adjustmentID}':
    get:
      description: Получить данные поправки к договору по её идентификатору
      operationId: getContractAdjustmentByID
      tags:
        - Contracts
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/contractID'
        - $ref: '#/parameters/adjustmentID'
      responses:
        '200':
          description: Данные поправки к договору
          schema:
            $ref: '#/definitions/ContractAdjustment'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/contracts/{contractID}/payout_tools':
    get:
      description: Получить данные всех средств вывода
      operationId: getPayoutTools
      tags:
        - Payouts
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/contractID'
      responses:
        '200':
          description: Набор средств вывода
          schema:
            type: array
            items:
              $ref: '#/definitions/PayoutTool'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/contracts/{contractID}/payout_tools/{payoutToolID}':
    get:
      description: Получить данные средства вывода по его идентификатору
      operationId: getPayoutToolByID
      tags:
        - Payouts
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/contractID'
        - $ref: '#/parameters/payoutToolID'
      responses:
        '200':
          description: Данные средства вывода
          schema:
            $ref: '#/definitions/PayoutTool'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  /processing/countries:
    get:
      description: Получить список стран
      tags:
        - Countries
      operationId: getCountries
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
      responses:
        '200':
          description: Список стран
          schema:
            type: array
            items:
              $ref: '#/definitions/Country'
        '400':
          $ref: '#/responses/DefaultLogicError'
  '/processing/countries/{countryID}':
    get:
      description: Получить данные страны по ее ID
      tags:
        - Countries
      operationId: getCountryByID
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/countryID'
      responses:
        '200':
          description: Страна найдена
          schema:
            $ref: '#/definitions/Country'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '404':
          $ref: '#/responses/NotFound'
  /processing/customers:
    post:
      description: Создать нового плательщика.
      tags:
        - Customers
      operationId: createCustomer
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - name: customerParams
          description: Параметры создаваемого плательщика
          in: body
          required: true
          schema:
            $ref: '#/definitions/CustomerParams'
      responses:
        '201':
          description: Плательщик создан
          schema:
            $ref: '#/definitions/CustomerAndToken'
        '400':
          description: Ошибочные данные плательщика
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - operationNotPermitted
                  - invalidPartyID
                  - invalidShopID
                  - invalidPartyStatus
                  - invalidShopStatus
                  - invalidRequest
                  - invalidDeadline
                  - ambiguousPartyID
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: Operation not permitted
        '401':
          $ref: '#/responses/Unauthorized'
        '409':
          $ref: '#/responses/ExternalIDConflict'
  '/processing/customers/{customerID}':
    get:
      description: Получить данные плательщика по его идентификатору.
      operationId: getCustomerById
      tags:
        - Customers
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/customerID'
      responses:
        '200':
          description: Данные плательщика
          schema:
            $ref: '#/definitions/Customer'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
    delete:
      description: Удалить плательщика по его идентификатору
      operationId: deleteCustomer
      tags:
        - Customers
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/customerID'
      responses:
        '204':
          description: Плательщик удален
        '400':
          description: Ошибка удаления плательщика
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - invalidPartyStatus
                  - invalidShopStatus
                  - invalidRequest
                  - invalidDeadline
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: Invalid party status
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/customers/{customerID}/access-tokens':
    post:
      operationId: createCustomerAccessToken
      description: |
        Создать новый токен для доступа к указанному плательщику.
      tags:
        - Customers
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/customerID'
      responses:
        '201':
          description: Токен для доступа создан
          schema:
            $ref: '#/definitions/AccessToken'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/customers/{customerID}/bindings':
    post:
      description: Запустить новую привязку к плательшику.
      tags:
        - Customers
      operationId: createBinding
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/customerID'
        - name: bindingParams
          description: Параметры создаваемой привязки
          in: body
          required: true
          schema:
            $ref: '#/definitions/CustomerBindingParams'
      responses:
        '201':
          description: Привязка запущена
          schema:
            $ref: '#/definitions/CustomerBinding'
        '400':
          description: Ошибочные данные для привязки
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - invalidPaymentResource
                  - operationNotPermitted
                  - invalidPartyStatus
                  - invalidShopStatus
                  - invalidPaymentToolToken
                  - invalidPaymentSession
                  - invalidRequest
                  - invalidDeadline
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: Invalid payment resource
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
        '409':
          $ref: '#/responses/ExternalIDConflict'
    get:
      description: Получить все привязки к плательщику.
      tags:
        - Customers
      operationId: getBindings
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/customerID'
      responses:
        '200':
          description: Список привязок
          schema:
            type: array
            items:
              $ref: '#/definitions/CustomerBinding'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/customers/{customerID}/bindings/{customerBindingID}':
    get:
      description: Получить информацию о привязке к плательщику.
      tags:
        - Customers
      operationId: getBinding
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/customerID'
        - $ref: '#/parameters/customerBindingID'
      responses:
        '200':
          description: Данные привязки
          schema:
            $ref: '#/definitions/CustomerBinding'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/customers/{customerID}/events':
    get:
      description: Получить историю указанного плательщика в виде набора событий.
      tags:
        - Customers
      operationId: getCustomerEvents
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/customerID'
        - name: limit
          in: query
          description: Лимит выборки
          required: true
          type: integer
          format: int32
          minimum: 1
        - name: eventID
          in: query
          description: |
            Идентификатор события.

            Все события, возникшие в системе _после_ указанного, попадут в выборку.
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: Набор событий
          schema:
            type: array
            items:
              $ref: '#/definitions/CustomerEvent'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  /processing/invoice-templates:
    post:
      description: Создать новый шаблон инвойса.
      tags:
        - InvoiceTemplates
      operationId: createInvoiceTemplate
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - name: invoiceTemplateCreateParams
          description: Параметры шаблона инвойса.
          in: body
          required: true
          schema:
            $ref: '#/definitions/InvoiceTemplateCreateParams'
      responses:
        '201':
          description: Шаблон инвойса создан.
          schema:
            $ref: '#/definitions/InvoiceTemplateAndToken'
        '400':
          description: Ошибочные данные для создания шаблона
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - invalidPartyID
                  - invalidRequest
                  - invalidDeadline
                  - invalidShopID
                  - invalidPartyStatus
                  - invalidShopStatus
                  - invalidInvoiceCart
                  - ambiguousPartyID
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: Lifetime cannot be zero
        '401':
          $ref: '#/responses/Unauthorized'
        '409':
          $ref: '#/responses/ExternalIDConflict'
  '/processing/invoice-templates/{invoiceTemplateID}':
    get:
      description: Получить шаблон инвойса по его идентификатору.
      tags:
        - InvoiceTemplates
      operationId: getInvoiceTemplateByID
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceTemplateID'
      responses:
        '200':
          description: Шаблон инвойса
          schema:
            $ref: '#/definitions/InvoiceTemplate'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
    put:
      description: Модифицировать шаблон инвойса.
      tags:
        - InvoiceTemplates
      operationId: updateInvoiceTemplate
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceTemplateID'
        - name: invoiceTemplateUpdateParams
          description: Параметры модифицируемого инвойса.
          in: body
          required: true
          schema:
            $ref: '#/definitions/InvoiceTemplateUpdateParams'
      responses:
        '200':
          description: Шаблон инвойса модифицирован.
          schema:
            $ref: '#/definitions/InvoiceTemplate'
        '400':
          description: Ошибочные данные для изменения шаблона
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - invalidPartyStatus
                  - invalidShopStatus
                  - invalidInvoiceCart
                  - invalidRequest
                  - invalidDeadline
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: Invalid party status
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
    delete:
      description: Удалить шаблон инвойса.
      tags:
        - InvoiceTemplates
      operationId: deleteInvoiceTemplate
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceTemplateID'
      responses:
        '204':
          description: Шаблон инвойса удален.
        '400':
          description: Ошибочные данные для удаления шаблона
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - invalidPartyStatus
                  - invalidShopStatus
                  - invalidRequest
                  - invalidDeadline
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: Invalid party status
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/invoice-templates/{invoiceTemplateID}/invoices':
    post:
      description: Создать новый инвойс по шаблону.
      tags:
        - InvoiceTemplates
      operationId: createInvoiceWithTemplate
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceTemplateID'
        - name: invoiceParamsWithTemplate
          description: Параметры создаваемого инвойса
          in: body
          required: true
          schema:
            $ref: '#/definitions/InvoiceParamsWithTemplate'
      responses:
        '201':
          description: Инвойс создан
          schema:
            $ref: '#/definitions/InvoiceAndToken'
        '400':
          description: Ошибочные данные для создания инвойса
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - invalidPartyStatus
                  - invalidShopStatus
                  - invalidRequest
                  - invalidDeadline
                  - invoiceTermsViolated
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: Invalid party status
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
        '409':
          $ref: '#/responses/ExternalIDConflict'
  '/processing/invoice-templates/{invoiceTemplateID}/payment-methods':
    get:
      description: Получить доступные для инвойса методы оплаты по шаблону инвойса.
      tags:
        - InvoiceTemplates
      operationId: getInvoicePaymentMethodsByTemplateID
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceTemplateID'
      responses:
        '200':
          description: Список методов оплаты
          schema:
            type: array
            items:
              $ref: '#/definitions/PaymentMethod'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  /processing/invoices:
    get:
      description: Получить инвойс по указанному внешнему идентификатору.
      tags:
        - Invoices
      operationId: getInvoiceByExternalID
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - name: externalID
          description: Внешний идентификатор инвойса
          in: query
          required: true
          type: string
          maxLength: 40
          minLength: 1
      responses:
        '200':
          description: Инвойс
          schema:
            $ref: '#/definitions/Invoice'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
    post:
      description: Создать новый инвойс.
      tags:
        - Invoices
      operationId: createInvoice
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - name: invoiceParams
          description: Параметры создаваемого инвойса
          in: body
          required: true
          schema:
            $ref: '#/definitions/InvoiceParams'
      responses:
        '201':
          description: Инвойс создан
          schema:
            $ref: '#/definitions/InvoiceAndToken'
        '400':
          description: Ошибочные данные для создания инвойса
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - invalidPartyID
                  - invalidShopID
                  - invalidRequest
                  - invalidDeadline
                  - invalidPartyStatus
                  - invalidShopStatus
                  - invalidInvoiceCart
                  - invalidInvoiceCost
                  - invoiceTermsViolated
                  - ambiguousPartyID
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: Shop not found or inaccessible
        '401':
          $ref: '#/responses/Unauthorized'
        '409':
          $ref: '#/responses/ExternalIDConflict'
  '/processing/invoices/{invoiceID}':
    get:
      description: Получить данные инвойса по его идентификатору.
      tags:
        - Invoices
      operationId: getInvoiceByID
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceID'
      responses:
        '200':
          description: Данные инвойса
          schema:
            $ref: '#/definitions/Invoice'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/invoices/{invoiceID}/access-tokens':
    post:
      operationId: createInvoiceAccessToken
      description: Создать новый токен для доступа к указанному инвойсу.
      tags:
        - Invoices
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceID'
      responses:
        '201':
          description: Токен для доступа к инвойсу создан.
          schema:
            $ref: '#/definitions/AccessToken'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/invoices/{invoiceID}/events':
    get:
      description: Получить историю указанного инвойса в виде набора событий.
      tags:
        - Invoices
      operationId: getInvoiceEvents
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceID'
        - name: limit
          in: query
          description: Лимит выборки
          required: true
          type: integer
          format: int32
          minimum: 1
        - name: eventID
          in: query
          description: |
            Идентификатор события.

            Все события, возникшие в системе _после_ указанного, попадут в выборку.
          required: false
          type: integer
          format: int32
      responses:
        '200':
          description: Набор событий
          schema:
            type: array
            items:
              $ref: '#/definitions/InvoiceEvent'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/invoices/{invoiceID}/fulfill':
    post:
      description: Погасить указанный инвойс.
      tags:
        - Invoices
      operationId: fulfillInvoice
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceID'
        - name: fulfillInvoice
          in: body
          description: Произвольная причина совершения операции
          required: true
          schema:
            $ref: '#/definitions/Reason'
      responses:
        '204':
          description: Инвойс погашен
        '400':
          description: Ошибка погашения инвойса
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - invalidInvoiceStatus
                  - invalidPartyStatus
                  - invalidShopStatus
                  - invalidRequest
                  - invalidDeadline
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: Invalid invoice status
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/invoices/{invoiceID}/payment-methods':
    get:
      description: Получить доступные для инвойса методы оплаты.
      tags:
        - Invoices
      operationId: getInvoicePaymentMethods
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceID'
      responses:
        '200':
          description: Список методов оплаты
          schema:
            type: array
            items:
              $ref: '#/definitions/PaymentMethod'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/invoices/{invoiceID}/payments':
    get:
      description: Получить все платежи по указанному инвойсу.
      tags:
        - Payments
      operationId: getPayments
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceID'
      responses:
        '200':
          description: Данные платежей по инвойсу
          schema:
            type: array
            items:
              $ref: '#/definitions/Payment'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
    post:
      description: Создать новый платеж по указанному инвойсу.
      tags:
        - Payments
      operationId: createPayment
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceID'
        - name: paymentParams
          description: Параметры создаваемого платежа
          in: body
          required: true
          schema:
            $ref: '#/definitions/PaymentParams'
      responses:
        '201':
          description: Платёж создан
          schema:
            $ref: '#/definitions/Payment'
        '400':
          description: Ошибочные данные для запуска платежа
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - invalidInvoiceStatus
                  - invoicePaymentPending
                  - invalidRequest
                  - invalidDeadline
                  - invalidPartyStatus
                  - invalidShopStatus
                  - invalidContractStatus
                  - invalidPaymentToolToken
                  - invalidPaymentSession
                  - invalidProcessingDeadline
                  - invalidRecurrentParent
                  - operationNotPermitted
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: Invalid invoice status
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
        '409':
          $ref: '#/responses/ExternalIDConflict'
  '/processing/invoices/{invoiceID}/payments/{paymentID}':
    get:
      description: Получить данные платежа по указанному инвойсу.
      tags:
        - Payments
      operationId: getPaymentByID
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceID'
        - $ref: '#/parameters/paymentID'
      responses:
        '200':
          description: Данные платежа
          schema:
            $ref: '#/definitions/Payment'
        '400':
          $ref: '#/responses/DefaultLogicError'
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/invoices/{invoiceID}/payments/{paymentID}/cancel':
    post:
      description: Отменить указанный платеж.
      tags:
        - Payments
      operationId: cancelPayment
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceID'
        - $ref: '#/parameters/paymentID'
        - name: cancelPayment
          in: body
          description: Произвольная причина совершения операции
          required: true
          schema:
            $ref: '#/definitions/Reason'
      responses:
        '202':
          description: Запрос на отмену платежа принят
        '400':
          description: Ошибка отмены платежа
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - invalidPaymentStatus
                  - operationNotPermitted
                  - invalidPartyStatus
                  - invalidShopStatus
                  - invalidRequest
                  - invalidDeadline
              message:
                description: Человекочитаемое описание ошибки
                type: string
                example: Invalid payment status
        '401':
          $ref: '#/responses/Unauthorized'
        '404':
          $ref: '#/responses/NotFound'
  '/processing/invoices/{invoiceID}/payments/{paymentID}/capture':
    post:
      description: |
        Подтвердить указанный платеж. В случае передачи суммы подтверждения, меньшей, чем оригинальная, оставшаяся часть платежа будет возвращена.(см. [Варианты проведения оплаты](#tag/Payments))
      tags:
        - Payments
      operationId: capturePayment
      parameters:
        - $ref: '#/parameters/requestID'
        - $ref: '#/parameters/deadline'
        - $ref: '#/parameters/invoiceID'
        - $ref: '#/parameters/paymentID'
        - name: capturePayment
          in: body
          description: Параметры подтверждения платежа
          required: true
          schema:
            $ref: '#/definitions/CaptureParams'
      responses:
        '202':
          description: Запрос на подтверждение платежа принят
        '400':
          description: Ошибка подтверждения платежа
          schema:
            type: object
            required:
              - code
              - message
            properties:
              code:
                description: |
                  [Код ошибки](#tag/Error-Codes)
                type: string
                enum:
                  - invalidPaymentStatus
                  - operationNotPermitted
                  - invalidPartyStatus
                  - invalidShopStatus
                  - invalidRequest
                  - invalidDeadline
                  - invalidInvoiceCart
[...]
